*{
    padding: 0;margin: 0; box-sizing: border-box;
}
.nav-link{
font-size: 17px;
}
.par{
     color:#69707a;
    font-size: 1.35rem;
    font-weight: 340;
}
.heading{
    color:#363d47;
}
.custom-shape-divider-bottom-1626932445 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1626932445 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 75px;
}

.custom-shape-divider-bottom-1626932445 .shape-fill {
    fill:  #f2f6fc;
}

.custom-shape-divider-bottom-white{
    position: relative;
    bottom: 0;
    left: 0;
 width: 100%;
   
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-bottom-white svg{
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
}
.custom-shape-divider-bottom-white .shape-fill{
    fill: rgb(255, 255, 255);
}
.custom-shape-divider-bottom-black{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%; 
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-bottom-black svg{
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;

}
.custom-shape-divider-bottom-black .shape-fill{
    fill: #1e282c;

}











.card-body{
    display: none;
}


.contact{ color: #333;
    font-weight: 400;
}
.bv{
    background-color: #f2f6fc;;
}
.bv p{
 color: dimgray;
}
.fa-mobile{
    color: white;
    padding: 20px;
    background-color: rgb(7, 170, 70);
    height: 56px;
    width: 56px;
    border-radius: 50%; 
}
.fa-envelope{
    color: white;
    padding: 20px;
    background-color: rgb(218, 102, 56);
    border-radius: 50%;
}
.m{
     padding: 25px 50px 25px 50px;
   
}
.lo{
    background-color: #1e282c;;
}
.foot-2{
    color:rgb(133, 133, 133)
}
.PL{
    font-size: 13.5px; text-align:start;  
}
.font{
    font-size: 11.3px;
}

/* =========================================================================== */

 #overlay {
    position: absolute; /* Sit on top of the page content */
   /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
font-weight: 600;
    display: flex;
    opacity: 0;
    justify-content:center;
    align-items: center;
    color: #fff;
    background-color: rgba(22, 95, 230, 0.925); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
  }
  #overlay:hover{
      opacity: .8;
      border-radius: 5px;
  }
  .foot-2 h5{ font-size: 1rem;
     margin-bottom: 1.2rem;
     
  }

  .j{
 
    display:flex;
    justify-content: space-between;
    
  }
  .j p{ font-size: 14px;
      display: inline;
      color: rgb(156, 156, 156);
  }




@media (max-width:768px) {
      #overlay{
          display: none;
      }


.card{
    width: 14rem;
    margin: auto;
    
}
.card-body{
 font-weight: 600;
    display: inline;
}

.lo{
    padding-left: 24px;
}
.m{
    width: 11rem;
    height: 8.9rem;
    margin: auto;
}
  }

  /* @media (max-width:200px) {


  } */


